﻿@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";
}
<h2 class="title">About The World</h2>
<p id="aboutDescription">The Berlin Wall (German: Berliner Mauer) was a guarded concrete barrier that physically and ideologically divided Berlin from 1961 to 1989.[1] Constructed by the German Democratic Republic (GDR, East Germany), starting on 13 August 1961, the Wall completely cut off (by land) West Berlin from surrounding East Germany and from East Berlin until government officials opened it in November 1989.[2] Its demolition officially began on 13 June 1990 and was completed in 1992.[3] The barrier included guard towers placed along large concrete walls,[4] which circumscribed a wide area (later known as the "death strip") that contained anti-vehicle trenches, "fakir beds" and other defenses. The Eastern Bloc claimed that the Wall was erected to protect its population from fascist elements conspiring to prevent the "will of the people" in building a socialist state in East Germany. In practice, the Wall served to prevent the massive emigration and defection that had marked East Germany and the communist Eastern Bloc during the post-World War II period.

The Berlin Wall was officially referred to as the Anti-Fascist Protection Rampart (German: Antifaschistischer Schutzwall) by GDR authorities, implying that the NATO countries and West Germany in particular were considered equal to fascists. The West Berlin city government sometimes referred to it as the "Wall of Shame", a term coined by mayor Willy Brandt in reference to the Wall's restriction on freedom of movement.[5] Along with the separate and much longer Inner German border (IGB), which demarcated the border between East and West Germany, it came to symbolize a physical marker of the "Iron Curtain" that separated Western Europe and the Eastern Bloc during the Cold War.

Before the Wall's erection, 3.5 million East Germans circumvented Eastern Bloc emigration restrictions and defected from the GDR, many by crossing over the border from East Berlin into West Berlin; from which they could then travel to West Germany and other Western European countries. Between 1961 and 1989, the Wall prevented almost all such emigration.[6] During this period, around 5,000 people attempted to escape over the Wall, with an estimated death toll ranging from 136[7] to more than 200[8] in and around Berlin.

In 1989, a series of revolutions in nearby Eastern Bloc countries—Poland and Hungary in particular—caused a chain reaction in East Germany that ultimately resulted in the demise of the Wall.[9] After several weeks of civil unrest, the East German government announced on 9 November 1989 that all GDR citizens could visit West Germany and West Berlin. Crowds of East Germans crossed and climbed onto the Wall, joined by West Germans on the other side in a celebratory atmosphere. Over the next few weeks, euphoric people and souvenir hunters chipped away parts of the Wall; the governments later used industrial equipment to remove most of what was left. Contrary to popular belief the Wall's actual demolition did not begin until the summer of 1990 and was not completed until 1992.[1] The fall of the Berlin Wall paved the way for German reunification, which was formally concluded on 3 October 1990.</p>