﻿@model IEnumerable<Nozama.Models.Products>
@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";

}



    <body>


        <div class="itemDisplayArea">

            @foreach (var item in Model)
            {

            <div class="itemDisplayBlock">

                @{
                    var base64 = Convert.ToBase64String(@item.Picture);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                    <img src='@imgSrc' style="max-width:100px; max-height:100px;" />/>
                    <span>

                        <ul class="itemTitlePrice">

                            <li id="linkTitle" class="listItem">Product Name: @item.ProductName</li>
                            <li class="listItem">Price: $@item.Price</li>
                            <li class="listItem">Product Number:  @item.ProductNumber </li>

                        </ul>

                    </span>

                    <span>

                        <ul class="itemDescRating">

                            <li class="itemDesc">@item.Description </li>
                            <li class="itemRating">Quantity: @item.Quantity</li>




                        </ul>

                    </span>

</div>

            }



        </div>









    </body>

    <footer>
        <script type="text/javascript" src="../scripts/homejs.js"></script>
    </footer>


 






