﻿
<!DOCTYPE html>

<html>
<head>
    <title>Nozama - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>


<body>

 

        <div id="navBarArea">

            <h1 id="title">Nozama</h1>

            <ul>
                <li class="navBarItem" ><a asp-controller="App" asp-action="Index">Home</a></li>
                <li class="navBarItem"><a asp-controller="App" asp-action="Contact">Contact Us</a></li>
                <li class="navBarItem"><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </div>
    

    <div id="wrapper">
        <div id="main">



            @RenderBody()

        </div>

        <div>
            <button id="navToggle">Toggle Navigation Bar</button>
        </div>


            <div id="footer">&copy; 2017 The Jenkins Corporation Ltd.</div>

      
    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/js/site.js"></script>

</body>




</html>
