﻿body {
    background: white;
    color: white;
    margin: 5px;
    padding: 10px;
}

h1 {
    color: grey;
}

#title {
    color: white;
    background: rgb(0,59,112);
    display: inline-block;
    margin: 0px;
    /* top right bottom left */
    padding: 0px 2% 0px 3%;
    float: left;
    height: 100%;
    border-radius: 25px;
    color: white;
    /*
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

    */
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    font: 200% 'BazarMedium';
    letter-spacing: 5px;
    font-variant: small-caps;
    font-family: "Times New Roman", Times, serif;
}

#navBarArea {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: lightgray;
    float: left;
    background: rgb(0,59,112);
    width: 100%;
    border: 2px solid rgb(188,187,186);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
    text-decoration: none;
    height: 50%;
   
}

a:link {
    color: white;
    text-decoration: none;
}

:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
    text-decoration: none;
}

.navBarItem {
    list-style-type: none;
    display: inline-block;
    margin: 1% 10%;
    padding: 5px 5px 5px 5px;
    color: lightgray;
    float: left;
}




.itemDisplayArea {
    margin: 10% 0% 0% 0%;
    /* top right bottom left */
    padding: 0% 0% 0% 0%;
    border: 2px solid rgb(188,187,186);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
    
}

.itemPicture {
    width: 10%;
    height: 10%;
    padding: 2% 2%;
    display: inline-block;
    margin: 0% 0% 0% 0%;
    /* top right bottom left */
    padding: 2% 2% 2% 2%;
}

.itemTitlePrice {
    color: black;
    display: inline-block;
    margin: 2% 0 0 0;
    /* top right bottom left */
    padding: 0px 0 0 0;
    vertical-align: top;
    text-align: left;
    height: 20%;
    width: 54%;
    list-style-type: none;
}

.itemDescRating {
    color: black;
    display: inline-block;
    margin: 2.5% .5% .5% 0%;
    /* top right bottom left */
    padding: 0px 0 0 0;
    vertical-align: top;
    text-wrap: none;
    height: 20%;
    width: 26%;
    list-style-type: none;
}



.listItem {
    margin: 0 0 0 0;
    /* top right bottom left */
    padding: .5% 0;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 90%;
}

.itemDesc {
    margin: 0 0 0 0;
    /* top right bottom left */
    padding: 2% 0;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 75%;
}

.itemRating {
    font-size: 75%;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
}



#footer {
    color: black;
}




#wrapper {
    margin: 0 0 0 0;
    transition: margin-left ease .25s;
}

    #wrapper.expand {
        height: 100%;
        transition: margin-left ease .25s;
        color: black;
    }

    




